
/* Typography styles and colors
----------------------------------------------------------------------------------------*/
body {
  font-family: Helvetica, Arial, sans-serif; 
  }
h1 {
  font-size: 200%;
  color: rgb(163,166,143);
  }  
#oblique_strategies p {
  font-size: 400%;
  font-weight: bold;
  color: rgb(242,208,145);  
  }
#footer  p {
  font-size: 75%;
  color: rgb(114,138,140);
  }
  
/* links
----------------------------------------------------------------------------------------*/
a { color: rgb(242,208,145); }

/* Layout, alignment, etc.
----------------------------------------------------------------------------------------*/
#wrapper { margin: 100px; }
h1 { margin-bottom: 30px;}
#footer { margin-top: 100px; }

/* object colors & backgrounds
----------------------------------------------------------------------------------------*/
body { background: rgb(47,96,115); }
h1 {
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(191,94,38);
  }
#footer {
  }
  
html, body, .container { height: 100%; }

.outer {
  width: 100%;
  height: 100%;
}
 
/* The ghost, nudged to maintain perfect centering */
.outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -1%; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.inner {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
  margin-left: .5%;
}
